# .travis.yml
dist: precise

language: php

php:
  - 7.2
cache:
  directories:
    - vendor

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - vendor/bin/phpunit
